<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

	<connectionStrings>
		<add name="conexion" connectionString="Data Source=172.16.88.137/DBSYSTEX;User Id=USYSTEX;Password=oracle;" providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>

	
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!-- OneDrive API for school or work accounts. Register your own via https://manage.windowsazure.com . -->
	<add key="OneDriveForBusinessO365ApiClientID" value="a9dab0c2-96e5-4c64-991c-f3d5ba181f98" />
	<add key="OneDriveForBusinessO365ApiClientSecret" value="5JsE7ltjDa2V3DNQGBHCCMI9vEEjFqiySk95J7CLDIU=" />


	  <!-- Graph API for both Microsoft and school or work accounts. Register your own via https://apps.dev.microsoft.com . -->
	  <add key="GraphApiApplicationId" value="d12925dd-22fc-41d0-9c4a-a1933940c1c8" />  
	  
	<!-- TOKEN DE ACCESO -->
	<add key="OneDriveApiRefreshToken" value="OAQABAAAAAAAm-06blBE1TpVMil8KPQ41HVYZt90Nmpyet6FmwE7Vhz-mYnt0xFfgypWzTPnZNF1b-F8xLWCGzisV8Hwvc2fvRaI7FiPctmJjZJrdTVSV7Vc1uMP3qRYVCJKN1bIF63MIzjcqxlLNHH0NzC6_eYNqdP_WZshPB8MjQlktmqYSclMo2BN_obcXfPMe1QGnRzwbKJKKCIpI_SyST0sipqaJgFx8SmmwhW2QkXVwj9fjL_21nWmWy25unGjIEKdMmzw63FzsmdI__SiU6yD2CfKpXzYbhFMAD7GN8TV15XZHqUBrfQ2F1XMRUTgDyHRC8KiHIwePkV_A-WC0sBHuz5LFQJKpC58uX-Jfuci3ZtfQpYzEab0EazOq8jzRK52-NWVl8YK38oMIRGVLxKt5DrbDy07ZKneqC803gRMZ4Bdq0ZAMpSM73jGv0Bek0LHXZO81DZQPNu0Ak9mU4_5efHO4YTWIppHboUWJmmfYBptfFZuGSNw5DKqpzcptK2TzkjB5LNBCN1FsO7ytC1z1qVWToCM5riMdfO-XmLX39nx_Qbjd94xwYYS4kmYcXWX2D2W2dNt0isL8O6u9euIQl25Yw8-mLnGVpdTQQNzW4Qf9dcO6wbuvSH-VFynoyhPvr1wKNbqFfZ0OB3n99mBH-m53ilUBy3mtY62svmXoXYmvxlF0yGjd1jeV8e2Ree6Uo3lHni79gB5VKybgUXUDnCiNiS8ld1cZbzEvKpIcd14Z4I2fvCkJLcJMUK9V9mLp2hD3hZcD9WVMGycbjUZCwXP5kf72TZWyrtCg6yEyE32B7sOR67NzDBrJLOS18tOPxhuwWYzXSEgFIcKZXkGZermzIAA"/>
	  
  </appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
		<!-- PARA SUBIR ARCHIVOS MAS PESADOS (40 MEGAS MAXIMO)-->
		<httpRuntime targetFramework="4.6.2" maxRequestLength="41943040" />
		<!-- MUESTRA ERRORES -->
		<customErrors mode="On" >
			<error statusCode="404" redirect="~/sistema/error404/" />
			<error statusCode="500" redirect="~/sistema/error500/" />

		</customErrors >

		<!-- SESION INACTIVA -->
		<sessionState mode="InProc" cookieless="false" timeout="80" />
		
	  
  </system.web>

	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
